#main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}

#title {
  font-size: 2.5rem;
  margin: auto;
  letter-spacing: 5px;
  transition: transform 0.3s;
}

#title:hover {
  transform: skew(50deg);
}

#img-div {
  font-family: "Oswald", sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  display: block;
  /* width: 70%; */
  border-radius: 0.5rem;
  max-width: 70%;
}

#img-caption {
  font-size: 1rem;
  font-weight: 100;
}

#tribute-info {
  /* font-family: "Oswald", sans-serif; */
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  padding: 1rem;
  width: 80%;
}

#tribute-link {
}
