:root {
  --color-main: #8a2be2;
  --color-secondary: #ffd700;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-main);
  width: 100vw;
  height: 100vh;
}

#quote-box {
  width: 30vw;
  background: var(--color-secondary);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 7px 7px 18px 0px rgba(0, 0, 0, 0.61);
}

#text {
  font-family: "Mr De Haviland", cursive;
  font-weight: 100;
  font-size: 40px;
}

#author {
  text-align: right;
  font-size: 20px;
  font-family: "Neuton", serif;
}

#buttons-container {
  display: flex;
  justify-content: space-between;
}

.button {
  background: #fff;
  font-family: "Neuton", serif;
  border-radius: 3px;
  font-size: 20px;
  /* width: 80px; */
  padding: 5px 10px;
  border: none;
  color: var(--color-main);
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: var(--color-secondary);
  background: var(--color-main);
}

.button:active,
.button:focus {
  outline: none;
}

#new-quote {
}

#tweet-quote {
  text-decoration: none;
}
