@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this defines what 1rem is */
  /* 1rem = 10px */
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    /* 1rem = 9px */
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    /* 1rem = 8px */
    font-size: 56.25%;
  }
}

@media (min-width: 1600px) {
  html {
    /* 1rem = 12px */
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  font-family: "PT Sans Narrow", sans-serif;
}

#navbar {
  background: #f7e9ff;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#navbar-heading {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.nav-link {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem auto;
  text-decoration: none;
  color: #000;
  transition: transform 0.2s;
}

.nav-link:hover {
  transform: scale(1.2);
}

.nav-link:active,
.nav-link:focus {
  color: #fff;
}

#main-doc {
  background: #f1fbff;
  padding: 3rem;
  font-size: 1.6rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h-rule {
  border: 2px solid #000;
  margin: 1.5rem 0;
}

.main-section {
  width: 70%;
}

.section-heading {
  font-size: 3rem;
  margin: 1rem 0;
}

.section-heading-2 {
  margin: 0.5rem 0;
}

.section-para {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.main-list {
  font-size: 1.8rem;
  list-style: none;
}

li {
  margin: 1rem;
}

li::before {
  content: "\2022";
  width: 1rem;
  height: 1rem;
  font-weight: bold;
  color: #551a8b;
  margin-left: -1rem;
}

.main-link {
  text-decoration: none;
  background: #f7e9ff;
  border-bottom: 1px solid #edceff;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

pre {
  border-left: 1.5px solid #9de3ff;
  background: #d1f2ff;
}
